body {
  background: rgb(25, 20, 20);
  margin-left: auto;
  margin-right: auto;
  /* width: 1200px; */
  color: rgb(30, 215, 96);
  text-align: center;
  font-family: 'proxima-nova', sans-serif;
}

footer {
  color: white;
  background: rgb(30, 215, 96);
  font-family: 'proxima-nova', sans-serif;
  text-align: center;
  height: 30px;
  position:absolute;
  bottom:0;
  width:100%;
}

.canvas-wrapper {
  position: relative;
  /*border: 1px solid red;*/
  box-sizing: border-box;
}

.dragndrop-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: 1px solid green;*/
  box-sizing: border-box;
}

#main-canvas {
  width: 1000px;
  height: 512px;
  border: 1px white;
  background-color:rgb(25, 20, 20);

  box-sizing: border-box;
}
body {
  background: rgb(25, 20, 20);
  color: rgb(30, 215, 96);
  font-family: 'proxima-nova', sans-serif;
}

.center {
  margin: auto;
  position: relative;
  text-align: center;
}

img {
  border-radius: 50%;
}

#login,
#loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.hp_slide {
  width: 1000px;
  background: rgb(25, 20, 20);
  height: 15px;
  text-align: center;
}

.hp_range {
  width: 0;
  background:  rgb(30, 215, 96);
  height: 15px;
  text-align: center;
}

.in-line {
  display: inline-block;
  *display: inline;
}